.main-content {
  display: inline-block;
  margin-top: 50px;
  text-align: center;
}
.image {
  margin-left: 50px;
  text-align: center;
}
.text {
}

@media only screen and (min-width: 768px) {
  .main-content {
    display: flex;
  }
  .text {
    margin-bottom: 10px;
  }
  img {
    margin-top: 10px;
    width: 5%;
  }
  .image {
    margin-left: 50px;
    text-align: center;
  }
}
